@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@400;600&display=swap');

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    scroll-behavior: smooth;
    color: #2c3e50;
}

/* Fixed Banner Styles */
.fixed-banner {
    background-color: #ffffff;
    color: rgb(4, 3, 70);
    padding: 15px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center; /* Center the content in the header */
    align-items: center;
}

.fixed-banner .logo img {
    height: 50px;
    margin-right: 40px; /* Space between logo and links */
    vertical-align: middle;
}

.banner-links {
    display: flex;
    gap: 20px;
}

.banner-links a {
    font-size: 0.9em;
    color: rgb(4, 3, 70);
    text-decoration: none; /* Removes the underline */
    font-weight: normal;
    transition: color 0.3s ease;
}

.banner-links a:hover {
    color: #ff5a5f; /* Subtle hover color */
}
